# Make sure to change this to your own random string of 32 characters
ENCRYPTION_SECRET=


# POSTGRES
DB_USER=postgres
DB_PASSWORD=
DB_HOST=pgvector
DB_PORT=5432
DB_NAME=typebot
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

# TYPEBOT
NODE_OPTIONS=--no-node-snapshot
NEXTAUTH_URL=                        #https://builder.tu-dominio.com
NEXT_PUBLIC_VIEWER_URL=              #https://viewer.tu-dominio.com
NEXTAUTH_URL_INTERNAL=http://localhost:3000
ADMIN_EMAIL=rojolocco@gmail.com


# SMTP
SMTP_AUTH_DISABLED=false
DISABLE_SIGNUP=false
SMTP_HOST=smtp.gmail.com
SMTP_USERNAME=                #rojolocco@gmail.com
SMTP_PASSWORD=                #asxonqhesluuveob
NEXT_PUBLIC_SMTP_FROM=        #rojolocco@gmail.com
SMTP_PORT=587
SMTP_SECURE=false


# MINIO
# S3_ACCESS_KEY=
# S3_SECRET_KEY=
# S3_BUCKET=typebot
# S3_PORT=9000
# S3_ENDPOINT=s3 #https://s3.tu-dominio.com
# S3_SSL=false    